body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dog-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.dog-list li {
    text-align: center;
}

.dog-list img {
    width: 150px; /* Adjust the size as needed */
    border: 2px solid #3498db;
    border-radius: 8px;
}
